
/* Gallery Styles */
.gallery {
    height: 100vh; /* Make each section take the full viewport height */
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.gallery-item {
    height: 100vh; /* Make each section take the full viewport height */
    max-width: 100%;
    width: 100%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    background-color: #fff;
    text-align: center;
}